body {
  background-color: #282c34;
  justify-content: center;
  color: white;
}

.App {
  margin: 50px 20px 0px 20px;
}

.App-code-editors {
  display: flex;
  margin-top: 10px;
  width: auto;
}

.tree-wrapper {
  background: white;
  margin-top: 10px;
  height: auto;
}

.ace-editor {
  width: auto;
  padding-right: 5px;
}

.user-io {
  width: auto;
}

.user-io-input {
  width: auto;
}

.user-io-output {
  width: auto;
}

.warning-highlight {
    background: rgba(255, 50, 50, 1);
    position: absolute;
}

.ast-node-highlight {
  background: rgba(50, 197, 255, 0.3);
  position: absolute;
}